body {
    color:#555d59;    /* Dark gray */
    background-color: #f9dcc4;
    font-family: Arial, Helvetica, sans-serif;
  }

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    padding-left: 150px;  
    padding-top: 0px;
    padding-bottom
    padding : ;
    background-color: #ffb5a7;
    background-size: 1500px;
    border-radius: 90px;
    border-width: 5px #e8a598;

}
h2{
    font-size: 70px;
}

#options{
    padding-left:60px;
}
#title_filters{font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;}

#products{
    font-family:Arial, Helvetica, sans-serif;
    width: 1000px;
    padding-left: 170px;
    margin-block-end: 180px;


    /*padding: 10px;
    padding-left: 450px;
*/


    
    border: 5px solid gray;
    border-radius: 90px;
    margin-left: 200px;
}
#product{
    padding-left: 200px;
}